@model BusinessObject.blogBO

@{
    ViewBag.Title = "DeleteBlog";
}

<h2>DeleteBlog</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>blogBO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blog_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_categories_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_categories_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_Decription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_Decription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
